{{root=../}}
{{extra_css=<link rel="stylesheet" href="../css/markdown.css">}}

<article class="post-card markdown-body">
    <h1>{{title}}</h1>
    <div class="post-meta">Published on {{date}}</div>
    {{content}}
</article>

<div class="comments-section">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = window.location.href;
            this.page.identifier = window.location.pathname;
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://pucheng-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>